* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(59, 58, 58);
    ;
    font-family: sans-serif, 'Rubik Vinyl', cursive;
    font-weight: bold;
    text-align: center;
    color: white;
    min-width: 400px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
    font-family: 'Rubik Vinyl';
    margin-bottom: 3px;
    margin-top: 6px;
}

p {
    font-family: sans-serif;
    margin: 1px;
}

.main-container {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;

    width: 85vw;
    /*border: 1px solid black;*/
    border-radius: 6px;
    padding: 12px;
    /*background-color: rgba(0, 0, 0, 0.857);*/
    /*box-shadow: 0 8px 8px 0 rgba(61, 60, 60, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.inside-container {
    padding-top: 12px;
    padding-bottom: 12px;

    text-align: start;
}


#input_el {
    border: 1px solid green;
    border-radius: 6px;
    width: 83vw;
    height: 10%;
    padding: 6px;
    font-family: sans-serif;
}


/* Buttons */
.buttons-div {
    padding-top: 8px;
    text-align: start;
    justify-content: space-between;
}

.list-item-btn-div {
    padding-top: 2px;
}

button {
    color: black;
    background-color: whitesmoke;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    padding: 6px;
    width: 60px;
}

#save-input-btn {
    background-color: green;
    color: white;
}

#save-link-btn {
    background-color: #e37d00;
    color: white;
}

#copy-text-btn {
    margin: 0;
    padding: 4px;


    background-color: rgb(59, 58, 58);
    color: white;
    border: 1px solid #439446;

    border-radius: 1px;
}

#delete-text-btn {
    margin: 0;
    padding: 4px;


    background-color: rgb(59, 58, 58);
    color: white;
    border: 1px solid #ac3f3f;

    border-radius: 1px;
}

#copy-text-btn:hover {
    background-color: #439446b9;
}

/* Darker background on mouse-over */
#delete-text-btn:hover {
    background-color: rgba(255, 0, 0, 0.152);
}

/* List */
#ul_el {
    padding: 8px;
    text-align: start;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;

    /* For marking all list texts */
    /* list-style:  */
}

.list-item-el {
    padding: 0px;

    display: flex;
    justify-content: space-between;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: rgba(85, 85, 85, 0.882);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Footer */
#twitter {
    color: white;
    text-decoration: none;
}

#github-div {
    margin-top: 6px;
}

.my-footer {
    width: auto;
    max-height: 56px;
    padding-top: 6px;
    padding-bottom: 6px;
    /*background-color: rgba(0, 0, 0, 0.632);*/
    display: grid;
    justify-content: center;
    font-size: 16px;
}